/*********** General ***********/
* {
  font-family: "roboto";
}

:root {
  --prim-color: #9356dc;
  --second-color: #ff79da;
  --ter-color: #99e2d0;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "shrikhand";
  color: var(--prim-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 1px;
}

.ohmyfood__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #eaeaea;
  padding: 0.938rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
}

/* Ceci est le bloc Parent du bonton Explorer nos restaurants */

.explorer {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
}

.explorer__title2 {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
}

/* Ceci sont les éléments du bonton Explorer nos restaurants  */

.explorer__bouton {
  border: 1px solid;
  border-radius: 60px;
  background: linear-gradient(180deg, var(--second-color), var(--prim-color));
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Ceci est le bloc Parent Section Fonctionnement */

.fonctionnement {
  padding: 5%;
  gap: 10px;
}

/* Ceci est le bloc flis Section Fonctionnement */

.fonctionnement__bouton {
  display: flex;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.158);
  font-size: 16px;
  font-weight: bold;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  position: relative;
}

/* Chiffre sur la bordure des boutons */

.fonctionnement__bouton__num {
  border-radius: 80px;
  background-color: var(--prim-color);
  color: white;
  box-sizing: border-box;
  padding: 10px;
  height: 16px;
  size: 14px;
  position: absolute;
  left: -11px;
  /* top: 5px; */
}

.fonctionnemt__bouton__num_1 {
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  left: 6px;
  top: 2px;
}

.restaurants {
  padding: 5%;
}

.restaurant__allcards {
  display: flex;
  flex-direction: invert column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.restaurant__allcards__card {
  /* height: 250px; */
  border: solid 5px red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.restaurant__allcards__card__img {
  box-sizing: border-box;
  height: 11.25rem;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant__allcards__card__titre {
  display: flex;
  flex-direction: row;
}
